<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>952260771060-9a5285li4a8t2emlgi8pg0e74scmv0mo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.952260771060-9a5285li4a8t2emlgi8pg0e74scmv0mo</string>
	<key>API_KEY</key>
	<string>AIzaSyBMrrPRP9xqAmZKArzyfd6bs8gzKF0H7XI</string>
	<key>GCM_SENDER_ID</key>
	<string>952260771060</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ark.crs</string>
	<key>PROJECT_ID</key>
	<string>crs-crm-cd3cd</string>
	<key>STORAGE_BUCKET</key>
	<string>crs-crm-cd3cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:952260771060:ios:7676d8a1cc2ffc818af2a1</string>
</dict>
</plist>
