<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>comgooglemaps</string>
		<string>comgooglemaps-x-callback</string>
	</array>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>UIApplicationSceneManifest</key>
	<false/>
	<key>face</key>
	<string></string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>I want to use the location to check for your report visit and match them.</string>

    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    I want to use the location to check for your report visit and match them.
    <key>NSLocationAlwaysUsageDescription</key>
    <string>I want to use the location to check for your report visit and match them.</string>
</dict>
</plist>
